@import 'config';

.wrapper {
  display: flex;
  justify-content: space-between;
  @include _widthVw(1400);
  position: relative;
}

input,
textarea {
  padding: 10px 20px;
  @extend .p;
  @include _borderRadius(5px);
  border: none;
  background: #060b0d;
  color: $textcolor;
}

.btn {
  display: flex;
  padding: 10px 0;
  width: 100%;

  min-height: 40px;
  align-items: center;
  justify-content: center;
  @include _borderRadius(5px);
  @include _transition(background, .1s);

  background: #0086bf;
  color: #fff;
}

.custom {
  &-select {
    position: relative;
    display: flex;
    flex-direction: column;
    border-width: 0 2px 0 2px;
    @include _borderRadius(5px);

    border-style: solid;
    border-color: $textcolor;

    &.open {
      .custom-options {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
    }

    &-wrapper {
      position: relative;
      user-select: none;
      width: 100%;
    }
  }

  &-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    @extend .p;
    height: 40px;
    background: $mainColor;
    cursor: pointer;
    @include _borderRadius(5px);

    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: $textcolor;
  }

  &-options {
    position: absolute;
    display: block;
    padding-top: 5px;
    top: 95%;
    left: 0;
    right: 0;
    border: 2px solid $textcolor;
    border-top: 0;
    background: $mainColor;
    @include _transition(all, .5s);
    @include _borderRadius(0 0 5px 5px);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, .2) 0 8px 16px 0;
  }

  &-option {
    position: relative;
    display: block;
    padding: 0 22px;
    @extend .p;
    cursor: pointer;
    @include _transition(all, .5s);

    &:hover {

      background-color: $accent;
      color: $mainColor;
    }

    &.selected {
      color: $mainColor;
      background-color: $accent;
    }
  }
}

.arrow {
  position: relative;
  height: 10px;
  width: 10px;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
  }

  &::before {
    left: -2.7px;
    transform: rotate(45deg);
    background-color: #394a6d;
  }

  &::after {
    left: 2.7px;
    transform: rotate(-45deg);
    background-color: #394a6d;
  }

  .open &::before {
    left: -2.7px;
    transform: rotate(-45deg);
  }

  .open &::after {
    left: 2.7px;
    transform: rotate(45deg);
  }

}