/** @format */

@import "config";

body {
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  // overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  @include _widthVw(940);

  position: relative;

  @media only screen and (max-width: 1440px) {
    @include _widthVw(1140);
  }

  @media only screen and (max-width: 1280px) {
    @include _widthVw(1200);
  }

  @media only screen and (max-width: 1024px) {
    max-width: 80vw;
  }

  @media only screen and (max-width: 800px) {
    max-width: 95vw;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 30px;
  z-index: 2;

  @media only screen and (max-width: 900px) and (orientation: landscape) {
    padding-top: 15px;
    padding-bottom: 15px;

    background: rgba(255, 255, 255, 0.5);
  }

  @media only screen and (max-width: 600px) {
    padding-top: 15px;
    padding-bottom: 15px;

    background: rgba(255, 255, 255, 0.5);
  }
}

.header__wrapper {
  align-items: center;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.logos {
  display: flex;
}

.logo {
  img {
    width: 100%;
    height: auto;
  }

  &:nth-child(1) {
    margin-right: 30px;
  }

  @media only screen and (max-width: 600px) {
    margin-bottom: 15px;
  }
}

.header__btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 40px;
  @include _borderRadius(5px);
  @include _transition(all, 0.5s);
  border: 3px solid #fff;
  background: rgba(255, 255, 255, 0.5);
  max-width: 320px;
  color: #3e939f;
  font-weight: bold;

  &-img {
    width: 20px;
    height: 20px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &:hover {
    background: #fff;
  }
}

.main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 900px) and (orientation: landscape) {
    padding-top: 100px;
  }

  @media only screen and (max-width: 600px) {
    padding-top: 150px;
  }
}

.main__wrapper {
  @include adaptive(padding-top, 50, 20, 0);
  height: 80%;
  overflow: hidden;
  max-height: 510px;
  min-height: 510px;
  box-shadow: 0px 14px 21px 0px rgba(6, 33, 40, 0.71);
  @include _borderRadius(10px);
  border: 2px solid transparent;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  position: relative;

  @media only screen and (max-width: 900px) and (orientation: landscape) {
    max-height: fit-content;
  }

  @media only screen and (max-width: 600px) {
    max-height: fit-content;
  }
}

.main__bg {
  position: absolute;
  @include _borderRadius(10px);
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: -1;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.question {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: fit-content;
  @include _transition(all, 0.8s);

  &.__hide {
    display: none;
  }

  &-input {
    @extend .t2;
    font-weight: normal;
    max-width: 129px;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    @include adaptive(padding-top, 30, 15, 0);
    @include adaptive(padding-bottom, 30, 15, 0);
    @include adaptive(padding-left, 20, 20, 0);
    @include adaptive(padding-right, 20, 20, 0);
    @include adaptive(margin-right, 30, 20, 0);
    @include adaptive(margin-left, 30, 20, 0);
    @include adaptive(height, 80, 40, 0);

    &-chang {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;
      width: 20px;
      cursor: pointer;

      &::before,
      &::after {
        position: absolute;
        background: $accent;
        display: block;
        width: 15px;
        height: 2px;
        content: "";
      }

      &.chang__inc {
        &::after {
          transform: rotate(90deg);
        }
      }
    }

    &-wrapp {
      display: flex;
      align-items: center;
      justify-content: center;
      @include adaptive(margin-bottom, 30, 20, 0);
    }
  }
}

.question__title {
  @extend .t3;
  color: $accent;
  @include adaptive(margin-bottom, 75, 35, 0);
}

.main__title {
  margin-bottom: 20px;
  text-align: center;
  display: inline-block;
  width: 100%;
  @extend .t1;
}

.main__text {
  text-align: center;
  max-width: 410px;
  width: 95%;
  text-align: center;
  display: inline-block;
  @include adaptive(margin-bottom, 45, 15, 0);

  strong {
    color: $accent;
  }
}

input,
textarea {
  padding: 10px 20px;
  @extend .p;
  @include _borderRadius(5px);
  border: none;
  background: #fff;
  color: #2f455c;
}

.btn {
  display: flex;
  overflow: hidden;
  font-weight: bold;
  min-height: 40px;
  text-transform: uppercase;
  height: 40px;
  align-items: center;
  justify-content: center;
  @include _borderRadius(5px);
  @include _transition(all, 0.5s);
  color: #fff;
  position: relative;
  z-index: 0;
  width: 90%;
  max-width: 230px;

  &::after,
  &::before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }

  &::after {
    background-image: linear-gradient(
      0deg,
      rgb(255, 102, 0) 0%,
      rgb(255, 158, 4) 100%
    );
    @include _transition(all, 0.5s);
  }

  &::before {
    background-image: linear-gradient(
      180deg,
      rgb(255, 102, 0) 0%,
      rgb(255, 158, 4) 100%
    );
    @include _transition(all, 0.5s);
    // opacity: 0;
  }

  &:hover {
    &::after {
      opacity: 0;
    }
  }
}

.answer__form {
}

.answer__input {
  @media only screen and (max-width: 900px) and (orientation: landscape) {
    margin-bottom: 15px;
  }

  @media only screen and (max-width: 600px) {
    margin-bottom: 15px;
  }
}

.btn__answer {
  @media only screen and (max-width: 900px) and (orientation: landscape) {
    max-width: 100%;
    width: 100%;
  }

  @media only screen and (max-width: 600px) {
    max-width: 100%;
    width: 100%;
  }
}

.answer__label {
  position: relative;

  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    @include _borderRadius(50%);
    background: #fff;
    margin-right: 15px;
  }
}

.answer__wrapp {
  display: flex;
  width: 90%;
  max-width: 720px;
  justify-content: space-between;

  @media only screen and (max-width: 900px) and (orientation: landscape) {
    &.inputs {
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 600px) {
    flex-direction: column;

    &.inputs {
      margin-bottom: 35px;
    }
  }
}

.answers {
  padding-top: 15px;
  padding-bottom: 20px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  @include adaptive(margin-bottom, 35, 20, 0);
  min-height: 190px;
}

.best__offers {
  @include adaptive(margin-bottom, 45, 20, 0);

  color: $accent;

  &-count {
    @extend .t3;
  }

  &-text {
    @extend .p;
    font-weight: bold;
  }
}

.offers {
  display: flex;
}

.answer__col {
  display: flex;
  width: fit-content;
  flex-direction: column;

  &-title {
    @extend .p;
    font-weight: bold;
    margin-bottom: 15px;
  }

  @media only screen and (max-width: 600px) {
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.quize__answer {
  background: transparent;
  color: $accent;
  font-weight: bold;
  padding: 0;
  padding-left: 5px;
}

.quiz__label {
  font-weight: bold;
  color: $accent;
  margin-bottom: 10px;
  display: inline-block;
  max-width: 230px;
  width: 90%;
}

.custom {
  &-select {
    position: relative;
    display: flex;
    flex-direction: column;
    @include _borderRadius(5px);

    &.open {
      .custom-options {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
    }

    &-wrapper {
      color: #2f455c;
      position: relative;
      user-select: none;
      width: 100%;
      max-width: 230px;
    }
  }

  &-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    @extend .p;
    height: 30px;
    background: $mainColor;
    cursor: pointer;
    @include _borderRadius(5px);
  }

  &-options {
    position: absolute;
    display: block;
    padding-top: 5px;
    top: 95%;
    left: 0;
    right: 0;
    border: 2px solid $textcolor;
    border-top: 0;
    background: $mainColor;
    @include _transition(all, 0.5s);
    @include _borderRadius(0 0 5px 5px);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.2) 0 8px 16px 0;
  }

  &-option {
    position: relative;
    display: block;
    padding: 0 22px;
    @extend .p;
    cursor: pointer;
    @include _transition(all, 0.5s);

    &:hover {
      background-color: $accent;
      color: $mainColor;
    }

    &.selected {
      color: $mainColor;
      background-color: $accent;
    }
  }
}

.custom__select {
  margin-bottom: 20px;
}

.arrow {
  position: relative;
  height: 10px;
  width: 10px;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
  }

  &::before {
    left: -2.7px;
    transform: rotate(45deg);
    background-color: #394a6d;
  }

  &::after {
    left: 2.7px;
    transform: rotate(-45deg);
    background-color: #394a6d;
  }

  .open &::before {
    left: -2.7px;
    transform: rotate(-45deg);
  }

  .open &::after {
    left: 2.7px;
    transform: rotate(45deg);
  }
}

.bottom__images {
  display: flex;
  width: 100%;
  // height: 78px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.6);
  @include adaptive(margin-top, 45, 20, 0);
  margin-bottom: 15px;

  @media only screen and (max-width: 600px) {
    flex-wrap: wrap;
    padding-bottom: 0;
  }
}

.bottom__img {
  width: auto;
  height: 100%;
  max-height: 78px;

  @media only screen and (max-width: 1440px) {
    height: 70%;
  }

  @media only screen and (max-width: 900px) and (orientation: landscape) {
    max-height: 38px;
  }

  @media only screen and (max-width: 600px) {
    margin-bottom: 10px;
    max-height: 38px;
  }
}

.offers {
  img {
    @extend .bottom__img;
  }
}

.info {
  align-self: flex-start;
  margin-top: auto;
  margin-left: 5px;
  margin-bottom: 5px;
  @extend .p;
  display: flex;
  align-items: center;
  justify-content: center;

  &.__hide {
    display: none;
  }
}

.date {
  margin-right: 10px;
  padding: 10px;
  background-image: url("../img/shape.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.orders {
  strong {
    color: $accent;
  }
}

.popup {
  @include _transition(all, 0.1s);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100500;
  display: none;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.popup__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.form__popup {
  position: relative;
  display: flex;
  flex-direction: column;
  background: $mainColor;
  @include _borderRadius(5px);
  @include _transition(all, 0.1s);
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  z-index: 2;
  width: 95%;
  max-width: 500px;
  padding: 60px 20px 20px;

  &-input {
    margin-bottom: 15px;
    color: #2f455c;
    border: 1px #2f455c solid;

    &::placeholder {
      color: #2f455c;
    }

    &:last-child {
      margin-bottom: 15px;
    }
  }

  &-textarea {
    margin-bottom: 15px;
  }
}

.popup__btn {
  align-self: center;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  display: flex;

  @include _transition(transform, 0.3s);

  span {
    @include _borderRadius(5%);
    position: absolute;
    // top: 0%;
    right: 0%;
    transform: rotate(45deg);
    display: block;
    background: $accent;
    width: 100%;
    height: 3px;
    bottom: 10px;

    &::before {
      @include _borderRadius(5%); // top: 0%;
      right: 0%;
      bottom: 10px;
      content: "";
      position: absolute;
      top: 0;
      transform: rotate(-90deg);
      display: block;
      background: $accent;
      width: 100%;
      height: 3px;
    }
  }

  &:hover {
    transform: scale(1.1);
  }
}

.thaks__window {
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;

  &._thx {
    display: none;
  }
}

.thanks__title {
  @extend .t1;
  margin-bottom: 35px;
}

.thanks__text {
  @extend .t4;
  color: $accent;
}
